[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=-/etc/kubernetes/kubernetes.env
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/opt/bin/kubelet \
--api-servers=http://${k8s-apiserver-fqdn}:8080 \
--healthz-bind-address=0.0.0.0 \
--config=/etc/kubernetes/manifests \
--network-plugin=cni \
--network-plugin-dir=/etc/cni/net.d \
--allow-privileged=true
Restart=always
RestartSec=10
